 /* Styling */
 
 body {
      font-family: Comic Sans MS;
    }
    header h1 {
      padding: 10px;
    }
    nav {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      font-size: 0.8em;
      padding: 20px;
      text-align: left;
    }
    nav a {
      padding: 15px;
    }
    #photo {
      border: 1px solid black;
      height: 150;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 400px;
    }
    footer {
      background: #FFFFFF;
      border-top: 2px solid black;
      font-size: 1.05em;
      font-weight: bold;
      text-align: center;
      position: fixed;
      bottom: 0px;
      width: 100%;
    }