/* Styling */	
 /* Font */
	@font-face {
		font-family: Oswald;
		src: url(https://fonts.google.com/specimen/Oswald)
				}
	body {
      font-family: Comic Sans MS;
	  text-align: center;
		 }
    
	header h1 {
      font-family: Oswald, monospace;
		font=size: 2.8rem;
		font-size: 3rem;
		padding: 10px;
			  }
    nav {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      font-size: 0.8em;
      padding: 20px;
      text-align: left;
		}
    
	nav a {
      padding: 15px;
		  }
    
    footer {
		position: fixed;
		bottom: 0px;
		background-color: white;
		border-top: 2px solid black;
		color: solid black;
		font-weight: bold;
		font-size: 1.05rem;
		line-height: 0.9rem;
		text-align: center;
		width: 100%;
		    }