/* CSS Styling Sheet */	
	/* Font */
	 @font-face {
		font-family: Oswald;
		src: url(https://fonts.google.com/specimen/Oswald)
				}
	/* Table Styling */
		table {
		border-spacing: 0px;
		text-align: center;
		width: 100%;
			}
		table,th,td {
		border: 1px solid black;
			}

		th,td {
		padding: 5px;
			}
		tr:first-of-type {
		background: #c8c8c8;
			}
	/* Body Styling */
	body {
		font-family: Ostrich Sans Heavy, serif;
		font-size: 18px;
		padding: 40px;
		text-align: center;
		 }
	
	#album {
		background: url("http://media.uaudio.com/blog/2011/06/glitch_drink.jpg") no-repeat;
		margin: 0 auto;
		height: 400px;
		width: 325px;
		   }
	
	header {
		line-height: 0.5;
		   }
	
	header h1 {
		font-family: Oswald, monospace;
		font=size: 2.8rem;
		      }
	main h2: first-of-type {
		font-family: Oswald, monospace;
		font-size: 2rem;
						   }
	ul {
		font-style: italic;
	     }
		 
	th, td {
		padding: 5px;
		   }
	tr:first-of-type {
		background: #c8c8c8:
					 }
/* End */