/* CSS Styling Sheet */	
	/* Table Styling */
		table {
		border-spacing: 0px;
		text-align: center;
		width: 100%;
			}
		table,th,td {
		border: 1px solid black;
			}

		th,td {
		padding: 5px;
			}
		tr:first-of-type {
		background: #c8c8c8;
			}
	/* Body Styling */
     <body style="padding: 40px;">
		<div style="text-align: center;"><img src="http://media.uaudio.com/blog/2011/06/glitch_drink.jpg"></div>
		</div>
		<div style="text-align: center;"><h1><b>Drink The Sea</b></h1>
		</div>
	/* Just a note here. I tried to put a link to the actual website. It wouldn't connect and it wasn't secure. "www.theglitchmob.com" */
		<div style="text-align: center;"><h2><a href="https://www.facebook.com/theglitchmobmusic">The Glitch Mob</a></h2>
		</div>
		<div style="text-align: center;"><h3>2010</h3>
		</div>

		<hr>
		
		<div style="text-align: center;"><h2>Band Members and Producers</h2>
		</div>
		<h2 style="text-align: center">Tracks</h2>
/* End */